@import url('https://fonts.googleapis.com/css2?family=Old+Standard+TT:ital@1&display=swap');
* {
    /* background-color: blanchedalmond; */
    /* font-family: sans-serif;
    padding: 0;
    margin: 0;*/
    box-sizing: border-box; 
} 

.splash-screen {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1; 
  background: url(https://images.unsplash.com/photo-1490818387583-1baba5e638af?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2664&q=80);
  transition: opacity 5000ms ease-in-out;
}

.splash-screen.faded {
  opacity: .25;
}

h1 {
    text-align: center;
}

.wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 25px;
}

.bio-item {
    margin: 0 25px;
    text-align: center;
}

img {
    height: 250px;
    width: 250px;
}

.bio-text {
    display: none;
    font-size: 1rem;
    width: 250px;
}

img {
    border-radius: 50%;
    cursor: pointer;
    height: 250px;
    width: 250px;
}

body {
    font-family: "Poppins", sans-serif;
  }
  
  .container {
    max-width: 1050px;
    width: 90%;
    margin: auto;
  }
  
  .navbar {
    width: 100%;
    box-shadow: 0 1px 4px rgb(146, 161, 176, .15);
  }
  
  .nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 62px;
  }
  
  .navbar .menu-items {
    display: flex;
  }
  
  .navbar .nav-container li {
    list-style: none;
  }
  
  .navbar .nav-container a {
    text-decoration: none;
    color: #0e2431;
    font-weight: 500;
    font-size: 1.2rem;
    padding: 0.7rem;
  }
  
  .navbar .nav-container a:hover{
      font-weight: bolder;
  }
  
  .nav-container {
    display: block;
    font-family: 'Old Standard TT', serif;
}
/* ********** */
/* Desktop styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Old Standard TT', serif;
}
header{
  background-color:#14274e;
  color: white;
  padding: 20px 0;
}
nav {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.seal {
  align-items: center;
  border: 1px white;
  border-radius: 50%;
  display: flex;
  font-size: 2.7rem;
  height: 250px;
  justify-content: center;
  outline-width: 4px;
  outline-style: double;
  text-align: center;
  width: 250px;
  overflow: hidden;
}

.seal--nav{
  height: 62px;
  width: 62px;
  font-size:13px;
  
}

.burger {
  display: none;
}

.y-wrap{
margin: 0 auto;
width: 90%;
}
 .y-vcenter{
  display: flex;
  align-items: center;
 }

.logo {
  font-size: 2rem;
  font-weight: bold;
  background-color: #14274e;
}

.links{

  font-size: 1.2rem;
  width: 90%;
  display: flex;
  justify-content: space-between;
  list-style: none;
  /* background-color: #14274e; */
}
.links li {
  cursor: pointer;
  position: relative;
  transition: 0.3s ease;
  /* flex-direction: row; */
}
.links li::after {
  content: "";
  width: 0%;
  height: 2px;
  background-color: #14274e;
  position: absolute;
  bottom: -5px;
  left: 0;
  transition: 0.3s ease;
}

.links ul li:hover::after {
  width: 80%;
  transition: 0.3s ease;
  text-decoration: underline;
}

.fa-times{
  color:black;
  z-index: 20;
}

@keyframes fade-in-out {  /* just for welcome message */
  0%{ opacity: 0;}
  50%{ opacity: 1;}
  75%{ opacity: .5;}
  100%{ opacity: 0;}  
} 

 .messageFade {
  animation-name: fade-in-out;
  animation-duration: 5s;
  animation-iteration-count: 1;
  font-size: 2rem;
  opacity: 0;
 }

 @keyframes fade-in { 
  0%{ opacity: 0;}
  100%{ opacity: 1;}
} 
 .contentContainerToFade {
  animation-name: fade-in;
  animation-duration: 3s;
 }

 #contentContainer {
  opacity: 0;
 }

 #contentContainer.show {
   opacity: 1;
 }


/* Mobile */

@media (max-width: 768px) {
  .burger {
    height: 20px;
    position: relative;
    width: 26px;
    z-index: 20;
    display: block;
    font-size: 1.5rem;
    color: white; 
    cursor: pointer;
    transition: 0.2s ease;
  }
  /*/***********/ 
  .fa {
    transition: 0.3s ease;
  }
  /* menu should be closed  */
    .links{
    display: none;
  }
ul{
  list-style-type: none;
}
  /* when burger menu is open display the following  */
  .links-active {  
    position: absolute;
    padding: 10px; 
    text-align: right;
    top: 103px;
    right: 0;
    width: 60%;
    height: calc(100vh - 60px); 
    background-color: white;
    color: gray;
    font-size: 1.1rem;
    transition: all 1s ease-out;
  }
.links-active::before{
  content:"";
  height:200%;
  top:50%;
  width:100%;
  position: absolute;
  background-color: inherit;
  /* background-color: cornsilk; */
  right: 0;
  z-index: -1;
}
  .links-active li {
    margin: 14px 0;
    cursor: pointer;
    position: relative;
    
  }
  
  .nav-container input[type="checkbox"]:checked ~ .logo{
    display: none;
  }

  .nameComponent {
    display: flex;
    justify-content: center;
    padding: 40px;
    margin-top: 250px;
    background-color: transparent;
  }

  .myButton {
    border-radius: 5px;
    width: fit-content;
    margin-left: 10px;
  }

  .userInput {
    height: 55px;
    width: 25%;
    outline: none;
    border-radius: 5px;
    font-size: 18px;
  }

  .message {
    display: flex;
    justify-content: center;
    padding: 30px;
    margin-top: 350px;
  }

  .autocom-box #items-list{
    list-style: none;
    padding: 8px 12px;
    display: none;
    width: 100%;
    cursor: default;
    border-radius: 3px;
  }

 .ingredients {
  height: 55px;
  width: 25%;
  outline: none;
  border-radius: 5px;
  font-size: 18px;
 }

 .wrapper{
  max-width: 450px;
  margin: 150px auto;
}

.search-input input{
  height: 55px;
  width: 100%;
  outline: none;
  border-radius: 5px;
  font-size: 18px;
}
.search-input.active input{
  border-radius: 5px 5px 0 0;
}
.search-input .autocom-box{
  padding: 0;
  opacity: 0;
  pointer-events: none;
  max-height: 280px;
  overflow-y: auto;
}
.search-input.active .autocom-box{
  padding: 10px 8px;
  opacity: 1;
  pointer-events: auto;
}
.autocom-box li{
  list-style: none;
  padding: 8px 12px;
  display: none;
  width: 100%;
  cursor: default;
  border-radius: 3px;
}
.search-input.active .autocom-box li{
  display: block;
}


h1 {
    text-align: center;
}

.wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 25px;
}

.bio-item {
    margin: 0 25px;
    text-align: center;
}

.bio-text {
    display: none;
    font-size: 1rem;
    width: 250px;
}

img {
    border-radius: 50%;
    cursor: pointer;
    height: 250px;
    width: 250px;
}
  .links-active li::after {
    content: "";
    width: 0%;
    height: 2px;
    background-color: white; 
    position: absolute;
    bottom: -5px;
    left: 0;
    transition: 0.3s ease;
   
  }
  .links-active li:hover::after {
    width: 80%;
    text-decoration: underline;
    /* transition: 0.3s ease; */
  }
/* .fas fa-utensils{
  position: relative;
    top:5px;
    left:5px; 
} */

}



