@import url('https://fonts.googleapis.com/css2?family=Old+Standard+TT:ital@1&display=swap');
* {
    font-family: 'Old Standard TT', serif;
}

header {
    background: #14274F;
    height: 50px;
    width: 100%;
}

.container {
    display: flex;
    justify-content: center;
}

.seal {
    align-items: center;
    border: 1px white;
    border-radius: 50%;
    display: flex;
    font-size: 2.7rem;
    height: 250px;
    justify-content: center;
    margin-top: 100px;
    outline-width: 8px;
    outline-style: double;
    text-align: center;
    width: 250px;
}

