.bio-item {
  margin: 0 25px;
  text-align: center;
}

.bio-text {
  display: none;
  font-size: 1rem;
  width: 250px;
}

.container {
  max-width: 1050px;
  width: 90%;
  margin: auto;
}

.navbar {
  width: 100%;
  box-shadow: 0 1px 4px rgb(146, 161, 176, .15);
}

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 62px;
}

.navbar .menu-items {
  display: flex;
}


.navbar .nav-container li {
  list-style: none;
}

.navbar .nav-container a {
  text-decoration: none;
  color: #0e2431;
  font-weight: 500;
  font-size: 1.2rem;
  padding: 0.7rem;
}

.navbar .nav-container a:hover{
    font-weight: bolder;
}

.nav-container {
  display: block;
  font-family: 'Old Standard TT', serif;
}
/* ********** */
/* Desktop styles */



.seal {
align-items: center;
border: 1px white;
border-radius: 50%;
display: flex;
font-family: 'Old Standard TT', serif;
font-size: 2.7rem;
height: 250px;
justify-content: center;
outline-width: 4px;
outline-style: double;
text-align: center;
width: 250px;
overflow: hidden;
}

.seal--nav{
height: 62px;
width: 62px;
font-size:13px;

}

.burger {
display: none;
}

.logo {
font-size: 2rem;
font-weight: bold;
background-color: #14274e;
}

.links{
font-size: 1.2rem;
width: 90%;
display: flex;
justify-content: space-between;
list-style: none;
/* background-color: #14274e; */
}

.links li {
cursor: pointer;
position: relative;
transition: 0.3s ease;
padding: 20px;
/* flex-direction: row; */
}
.links li::after {
content: "";
width: 0%;
height: 2px;
background-color: #14274e;
position: absolute;
bottom: -5px;
left: 0;
transition: 0.3s ease;
}

.links ul li:hover::after {
width: 80%;
transition: 0.3s ease;
text-decoration: underline;
}

.fa-times{
color:black;
z-index: 20;
}
/* Mobile */



.myButton {
  border-radius: 5px;
  width: fit-content;
  margin-left: 10px;
}

.nameComponent {
  display: flex;
  justify-content: center;
  padding: 40px;
  margin-top: 200px;
}

.message {
  display: flex;
  justify-content: center;
  padding: 30px;
  margin-top: 350px;
}

.autocom-box #items-list{
  list-style: none;
  padding: 8px 12px;
  display: none;
  width: 100%;
  cursor: default;
  border-radius: 3px;
}




.messageFade {
animation-name: fade-in-out;
animation-duration: 5s;
animation-iteration-count: 1;
font-size: 2rem;
opacity: 0;
}


.contentContainerToFade {
animation-name: fade-in;
animation-duration: 3s;
}

#contentContainer {
opacity: 0;
}

#contentContainer.show {
 opacity: 1;
}



.search-input input{
height: 55px;
width: 100%;
outline: none;
border-radius: 5px;
font-size: 18px;
}
.search-input.active input{
border-radius: 5px 5px 0 0;
}
.search-input .autocom-box{
padding: 0;
opacity: 0;
pointer-events: none;
max-height: 280px;
overflow-y: auto;
}
.search-input.active .autocom-box{
padding: 10px 8px;
opacity: 1;
pointer-events: auto;
}
.autocom-box li{
list-style: none;
padding: 8px 12px;
display: none;
width: 100%;
cursor: default;
border-radius: 3px;
}
.search-input.active .autocom-box li{
display: block;
}






.bio-item {
  margin: 0 25px;
  text-align: center;
}

.bio-text {
  display: none;
  font-size: 1rem;
  width: 250px;
}


.links-active li::after {
  content: "";
  width: 0%;
  height: 2px;
  background-color: white; 
  position: absolute;
  bottom: -5px;
  left: 0;
  transition: 0.3s ease;
 
}
.links-active li:hover::after {
  width: 80%;
  text-decoration: underline;
  /* transition: 0.3s ease; */
}
/* .fas fa-utensils{
position: relative;
  top:5px;
  left:5px; 
} */




.splash-screen {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1; 
  background: url(https://images.unsplash.com/photo-1490818387583-1baba5e638af?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2664&q=80);
  transition: opacity 5000ms ease-in-out;
}

.splash-screen.faded {
  opacity: .25;
}

  .userInput {
    height: 55px;
    width: 25%;
    outline: none;
    border-radius: 5px;
    font-size: 18px;
  }

 .ingredients {
  height: 55px;
  width: 25%;
  outline: none;
  border-radius: 5px;
  font-size: 18px;
 }
