body {
  font-family: 'Old Standard TT', serif;
}

h1 {
  font-size: 1.5rem;
}

h3 {
  text-align: center;
}

.container {
  color: #14274e;
}

.seal {
  color: white;
}

input {
  background-color: rgba(255, 255, 255, 0.712);
  color: #14274e;
  font-weight: 600;
  text-align: center;
}

.bio-item {
  margin: 0 25px;
  text-align: center;
}

.bio-text {
  display: none;
  font-size: 1rem;
  width: 250px;
}

.food-title {
  margin: 15px 0;
}

.container {
  max-width: 1050px;
  /* width: 90%; */
  margin: auto;
}

.navbar {
  width: 100%;
  box-shadow: 0 1px 4px rgb(146, 161, 176, .15);
}

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 62px;
}

.navbar .menu-items {
  display: flex;
}


.navbar .nav-container li {
  list-style: none;
}

.navbar .nav-container a {
  text-decoration: none;
  color: #14274e;
  font-weight: 500;
  font-size: 1.2rem;
  padding: 0.7rem;
}

.navbar .nav-container a:hover{
    font-weight: bolder;
}

.nav-container {
  display: block;
  font-family: 'Old Standard TT', serif;
}
/* ********** */
/* Desktop styles */

.seal {
align-items: center;
border: 1px white;
border-radius: 50%;
display: flex;
font-family: 'Old Standard TT', serif;
font-size: 2.7rem;
height: 250px;
justify-content: center;
outline-width: 4px;
outline-style: double;
text-align: center;
width: 250px;
overflow: hidden;
}

.seal--nav{
height: 62px;
width: 62px;
font-size:13px;
}

.burger {
display: none;
}

.logo {
font-size: 2rem;
font-weight: bold;
background-color: #14274e;
}

.links{
/* align-items: center; */
font-size: 1rem;
width: 100%;
display: flex;
flex-wrap: wrap;
justify-content: right;
list-style: none;
text-align: center;
}
.links li:hover {
  color: rgba(255, 255, 255, 0.712)
}

.links li {
cursor: pointer;
flex-direction: row;
flex-wrap: wrap;
position: relative;
margin: 0 10px;
transition: 0.3s ease;
}
.links li::after {
content: "";
width: 0%;
height: 2px;
background-color: #14274e;
position: absolute;
bottom: -5px;
left: 0;
transition: 0.3s ease;
}

.links ul li:hover::after {
width: 80%;
transition: 0.3s ease;
text-decoration: underline;
}

.fa-times{
color:black;
z-index: 20;
}
/* Mobile */


button {
  background-color: rgba(255, 255, 255, 0.9);
  border-width: thin;
  border-color: #14274e;
  color: #14274e;
  font-weight:bold;
  /* opacity: 0.75; */
  outline: #14274e;
  cursor: pointer;;
}


.myButton, .userInput {
  border-radius: 5px;
  font-size: 1rem;
  margin-left: 10px;
  padding: 5px;
}

.nameComponent {
  display: flex;
  justify-content: center;
  padding: 40px;
  margin-top: 150px;
}

.message {
  display: flex;
  justify-content: center;
  padding: 30px;
  margin-top: 150px;
}

.autocom-box #items-list{
  list-style: none;
  padding: 8px 12px;
  display: none;
  width: 100%;
  cursor: default;
  border-radius: 3px;
}

.messageFade {
animation-name: fade-in-out;
animation-duration: 2.5s;
animation-iteration-count: 1;
font-size: 2rem;
opacity: 0;
}


.contentContainerToFade {
animation-name: fade-in;
animation-duration: 1s;
}

#contentContainer {
opacity: 0;
}

#contentContainer.show {
 opacity: 1;
}



.search-input input{
height: 55px;
width: 100%;
outline: none;
border-radius: 5px;
font-size: 18px;
}
.search-input.active input{
border-radius: 5px 5px 0 0;
}
.search-input .autocom-box{
padding: 0;
opacity: 0;
pointer-events: none;
max-height: 280px;
overflow-y: auto;
}
.search-input.active .autocom-box{
padding: 10px 8px;
opacity: 1;
pointer-events: auto;
}
.autocom-box li{
list-style: none;
padding: 8px 12px;
display: none;
width: 100%;
cursor: default;
border-radius: 3px;
}
.search-input.active .autocom-box li{
display: block;
}


.bio-item {
  margin: 0 25px;
  text-align: center;
}

.bio-text {
  display: none;
  font-size: 1rem;
  width: 250px;
}


.links-active li::after {
  content: "";
  width: 0%;
  height: 2px;
  background-color: white; 
  position: absolute;
  bottom: -5px;
  left: 0;
  transition: 0.3s ease;
 
}
.links-active li:hover::after {
  width: 80%;
  text-decoration: underline;
  /* transition: 0.3s ease; */
}
.fas fa-utensils{
position: relative;
  top:5px;
  left:5px; 
}


.splash-screen {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1; 
  background: url(https://images.unsplash.com/photo-1490818387583-1baba5e638af?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2664&q=80);
  transition: opacity 5000ms ease-in-out;
}

.splash-screen.faded {
  opacity: .25;
}

#ingredient,
#live-search-cuisine,
#dietary-choices,
#allergies,
#carbs,
#time,
#recipe-quantity {
  margin: 10px;
}

.allergy-labels,
.diet-labels {
  align-items: center;
  column-count: 4;
  display: column;
  justify-content: center;
  margin: 10px 0;
}

.allergy-labels input,
.diet-labels input {
  height: 20px;
  width: 20px;
}

.allergy-labels label,
.diet-labels label {
  display: block;
}

.allergy-labels label,
.allergy-labels input,
.diet-labels label,
.diet-labels label {
  margin-bottom: 10px;
}

 .ingredients {
  height: 55px;
  width: 25%;
  outline: none;
  border-radius: 5px;
  font-size: 18px;
}

.food-search,
.food-random,
.food-joke,
#recipe-quantities,
#allotted-time,
#cuisine,
#ingredients {
  border-radius: 5px;
  font-size: 0.8rem;
  padding: 4px;
}

input::placeholder {
  color: gray;
  font-style: italic;
}

.btn-box {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 50%;
}

.input-box {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
}

.left-align {
  text-align: left;
}

.food-form {
  text-align: center;
}