@keyframes fade-in-out {  /* just for welcome message */
  0%{ opacity: 0;}
  50%{ opacity: 1;}
  75%{ opacity: .5;}
  100%{ opacity: 0;}  
}

@keyframes fade-in { 
  0%{ opacity: 0;}
  100%{ opacity: 1;}
}