
  .entireBox {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
  }
  
  .wrapper-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, 20rem);
    justify-content: center;
  }
  
  .resultContainer {
    overflow: hidden;
    box-shadow: 0px 2px 8px 0px var(--clr-gray-light);
    background-color: white;
    text-align: center;
    border-radius: 1rem;
    position: relative;
    margin: 0.5rem;
    border: 2px solid #b0bec5;
    box-shadow: 0px 2px 5px 0px grey;
  }
  
  .banner-img {
    position: absolute;
    background-image: url(https://images.unsplash.com/photo-1498837167922-ddd27525d352?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80);
    opacity: 30%;
    height: 10rem;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  .profile-img {
    clip-path: circle(80px at center);
    margin-top: 2rem;
  }
  
  .recipeName {
    font-weight: bold;
    font-size: 1.5rem;
    font-family: sans-serif;
  }
  
  /* .description {
    margin: 1rem 2rem;
    font-size: 0.9rem;
  } */
  
  .viewRecipeBtn {
    width: 100%;
    border: none;
    font-size: 1rem;
    font-weight: bold;
    color: white;
    padding: 1rem;
    background-color: var(--clr-primary);
    background-color: #14274e;
  }
  













/* section {
    width: 40%;
    display: flex;
} */


/* .resultContainer {
    width: 50%;
    height: auto;
    /* max-width: 1200px; */
    /* margin: 0 auto;
    align-items: center;
    justify-content: center;
} */ 

/* .recipe-container{
    display: grid;
    grid-template-columns: 2fr;
    justify-content: center;
    grid-gap: 2rem;
} */
/* 
.search-result {
    text-align: center;
    border-radius: 8px;
    position: relative;
    background-color: #14274e;
}  */

/* .item {
    width: 400px;
    border-radius: 8px;
    padding: 15px;
    padding-bottom: 120px;
    overflow: hidden;
    background-color: #14274e;
}

.flex-container {
    display: flex;  
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: auto;
} */


/* .food-img {
    width: 8rem;
    clip-path: circle(60px at center);
    margin-top: 4.5rem;
} */

/* .title {
    color: whitesmoke;
    margin: 10px 10px 0 0;
    font-size: 1.5rem;
    font-weight: 400;
} */

/* .button {
    text-decoration: none;
    text-align: center;
    width: 130px;
    padding: 10px 0;
    border-radius: 15px;
    font-size: 1.4rem;
} */

/* .item-data {
    color: whitesmoke;
    display: block;
    margin-top: 10px;
    font-size: 1.4rem;
    letter-spacing: .05rem;
    line-height: 2rem;
} */

/* .cook-time {
    color: whitesmoke;
} */